/* Instalación de la fuente e implementación en el body */

@font-face {
    font-family: "PixeloidMono";
    src: url("../fonts/PixeloidMono.woff2") format("woff2"),
    url("../fonts/PixeloidMono.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "PixeloidSans";
    src: url("../fonts/PixeloidSans.woff2") format("woff2"),
    url("../fonts/PixeloidSans.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "PixeloidSans";
    src: url("../fonts/PixeloidSans-Bold.woff2") format("woff2"),
    url("../fonts/PixeloidSans-Bold.woff") format("woff");
    font-weight: bold;
}

body {
    font-family: "PixeloidSans", monospace;
}

